<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<form action="/add"
      enctype="multipart/form-data"
      method="post">

    <input type="hidden" id="id" name="id" value="0">

    <div class="form-group">
        <label for="name">Name:</label>

        <input class="form-control" type="text" id="name" name="name" value=""/>
    </div>

    <div class="form-group">
        <label for="dateLost">Date Lost:</label>
        <input class="form-control-sm" type="date"
               value=""
               id="dateLost" name="dateLost"/>

    </div>

    <div class="form-group">
        <label for="description">Description:</label>

        <input class="form-control" type="text" id="description" name="description" value=""/>
    </div>

    <div class="form-group">
        <label for="status">Status:</label>

        <select class="form-control" type="text" id="status" name="status">
            <option value="">Select</option>
            <option value="Lost">Lost</option>
            <option value="Found">Found</option>
        </select>
    </div>



    <input type="hidden" value="" name="hiddenImgURL"/>

    <div class="form-group">
        <input class="form-control-file" type="file" name="file"/>
        (Update or add new photo)
    </div>

    <input class="submit-btn" type="submit" value="Submit"/>
</form>


</body>
</html>