<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:insert="base :: header"></th:block>

</head>
<body>
<div th:replace="base :: nav"></div>

<div class="jumbotron text-center">
    <h4>Help Find our Lost Furry Friends</h4>
</div>

<div th:each="pet: ${pets}">
    <div class="col-sm-3">
        <div class="card text-center">
            <div class="card-header text-center">
                <strong>
                    <div th:text="${pet.name }">is Missing</div>
                    <div th:text="${pet.date}">Los Date</div>

                    <br>
                </strong>
                <div class="card-body">
                    <div>
                        <img th:src="${pet.getImage()}" alt="pet image "/>
                    </div>
                </div>
            </div>
            <div><span th:text="${pet.description}"></span></div>
            <div> Status: <span th:text="${pet.status}"></span></div>
            <div>
                <td>
                    <div sec:authorize="hasAuthority('USER')">
                        <a th:href="@{/update/{id}(id=${pet.id})}">Update</a> -
                        <a th:href="@{/detail/{id}(id=${pet.id})}">Details</a> -
                        <a th:href="@{/delete/{id}(id=${pet.id})}">Delete</a> -
                    </div>
                    <div sec:authorize="hasAuthority('USER')">
                        <a th:href="@{/detail/{id}(id=${pet.id})}">Details</a> -
                    </div>
                </td></tr>
            </div>
        </div>
    </div>
</div>


<div class="emptySpace"></div>
<div th:replace="base:: footer"></div>
</body>
</html>