<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <th:block th:insert="base :: header"></th:block>

</head>
<body>
<div th:replace="base :: nav"></div>

<div class="jumbotron text-center">
    <h5>Help Find our Lost Furry Friends</h5>
</div>

<div class="row text-center">
    <div>

        <div class="col-sm-20">
            <div class="card text-center">
                <div class="card-header text-center">
                    <strong><div>Minions is Missing!</div></strong>
                    <div>Lost on <span>2018-11-04</span></div>
                </div>
                <div class="card-body">
                    <div>
                        <img class="card-img-top user-img" src="http://res.cloudinary.com/dxs9ed6s7/image/upload/v1542118977/cf7kxiqikaohcdpcyhfc.jpg" alt="pet">
                    </div>
                    <div>Yellow bean shaped guys</div>
                    <strong>Status: <span>Lost</span></strong>
                    <div>
                        <!-- Show update/mark found button only if
                        logged in user is the one who created the post or the admin-->

                    </div>
                </div>
            </div>
        </div><!--end div class col-->

    </div>

<div class="emptySpace"></div>
<div class="emptySpace"></div>

<div th:replace="base:: footer"></div>
</body>
</html>