<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:insert="base :: header"></th:block>
</head>
<body>
<div th:replace="base :: nav"></div>

<div class="container">   <form action="#"    th:action="@{/addlostpet}"
          th:object="${pet}" enctype="multipart/form-data" method="post">

        <input type="hidden" th:field="*{id}" />
        Name :<input type="text" th:field="*{name}" />
        <span th:if="${#fields.hasErrors('name')}"
              th:errors="*{name}"></span><br />
        Lost Date :<input type="date" th:field="*{date}" />
        <span th:if="${#fields.hasErrors('date')}"
              th:errors="*{date}"></span><br />

        Description :<textarea rows="3" th:field="*{description}" />
        <span th:if="${#fields.hasErrors('description')}"
              th:errors="*{description}"></span><br />

        <select id="status" th:field="*{status}">
            <option value="">Select</option>
            <option class="dropdown-item" value="lost">Lost</option>
            <option class="dropdown-item" value="found">Found</option>
        </select>

        <span th:if="${#fields.hasErrors('status')}"
              th:errors="*{status}"></span><br />

        Picture :<input type="file" name="file" />

        <br />
        <input type="submit" value="Submit" />

</form>
</div>

<div class="emptySpace"></div>
<div th:replace="base:: footer"></div>
</body>
</html>